@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600&family=Caveat&family=Satisfy&display=swap');

/* MISC */

@import './misc/variables';
@import './misc/normalize';
@import './misc/mixins';

/* PARTIALS */

@import './partials/header';
@import './partials/footer';

/* VIEWS */

@import './views/home';
@import './views/pedidos';
@import './views/nosotros';
@import './views/noticias';
@import './views/contacto';

@media screen and (max-width: 400px) {

    header{
        .navbar{
            justify-items: center;
            justify-content: center;
            align-content: center;
            gap: 1rem;
        } 
    }

    .contacto{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        padding-top: 3rem;
    }
}

@media screen and (max-width: 823px) {

    main{
        .container{
            max-width: 70vw;
        }
    }

    #formulario-pedidos{
        .pedidos{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-items: center;
            justify-content: center;
            justify-items: center;
            gap: 2rem;

            .pedidos__entrada{
                #ensalada{
                    width: 65vh;
                    height: 65vh;
                    left: 4vw;
                }
                
                #fruta{
                    width: 65vh;
                    height: 65vh;
                    left: 4vw;
                }
            }
        
            .pedidos__sopas{
                #ajiaco{
                    width: 65vh;
                    height: 65vh;
                    left: 4vw;
                }
                
                #casuela{
                    width: 65vh;
                    height: 65vh;
                    left: 4vw;
                }
            }
            
            .pedidos__proteina{
                #pescado{
                    width: 65vh;
                    height: 65vh;
                    left: 4vw;
                }
                
                #ave{
                    width: 65vh;
                    height: 65vh;
                    left: 4vw;
                }
                
                #vacuno{
                    width: 65vh;
                    height: 65vh;
                    left: 4vw;
                }
            }
            
            .pedidos__acom{
                #arroz{
                    width: 65vh;
                    height: 65vh;
                    left: 4vw;
                }
                
                #papa{
                    width: 65vh;
                    height: 65vh;
                    left: 4vw;
                }
                
                #frijol{
                    width: 65vh;
                    height: 65vh;
                    left: 4vw;
                }
        }       
        }      
    }   

    .noticias{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        gap: 2rem;
    }

    .nosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        gap: 2rem;
    }
}

@media screen and (max-width: 650px) {

    main{
        .container{
            max-width: 100%;
        }
    }
    
    #formulario-pedidos{
        .pedidos{
            .pedidos__entrada{
                #ensalada{
                    width: 65vh;
                    height: 55vh;
                    /* opacity: 1; */
                    left: 4vw;
                }
                
                #fruta{
                    width: 65vh;
                    height: 55vh;
                    left: 4vw;
                }
            }

            .pedidos__sopas{
                #ajiaco{
                    width: 65vh;
                    height: 55vh;
                    left: 4vw;
                }
                
                #casuela{
                    width: 65vh;
                    height: 55vh;
                    left: 4vw;
                }
            }

            .pedidos__proteina{
                #pescado{
                    width: 65vh;
                    height: 55vh;
                    left: 4vw;
                }
                
                #ave{
                    width: 65vh;
                    height: 55vh;
                    left: 4vw;
                }
                
                #vacuno{
                    width: 65vh;
                    height: 55vh;
                    left: 4vw;
                }
            }

            .pedidos__acom{
                #arroz{
                    width: 65vh;
                    height: 55vh;
                    left: 4vw;
                }
                
                #papa{
                    width: 65vh;
                    height: 55vh;
                    left: 4vw;
                }
                
                #frijol{
                    width: 65vh;
                    height: 55vh;
                    left: 4vw;
                }
            }
        }       
    }
}