/* HOME */

main{
    .baner{
        min-height: 3*($spacing-xxl);
        background-image: url(../img/banner.jpg);
        background-size: cover; 
        color: $color-secundario;
    
        h2{
            font-size: $font-l;
            padding: $spacing-s;
        }
    
        h3{
            font-size: $font-m;
            padding: 0 $spacing-s $spacing-s;
        }
    
        p{
            font-size: $font-s;
            padding: 0 $spacing-s $spacing-s;
        }
    }

    .galery__title{
        font-size: $font-m;
        padding: $spacing-m $spacing-s 0 $spacing-s;
        text-align: map-get($map: $estilo-c, $key: centro);
    }
    
    .container{
        max-width: 50vw;
    }
}
