/* HOME */

main{
    .baner{
        min-height: 15rem;
        background-image: url(../img/banner.jpg);
        background-size: cover; 
        color: #0e3141;
    
        h2{
            font-size: 2.5rem;
            padding: 1rem;
        }
    
        h3{
            font-size: 2rem;
            padding: 0 1rem 1rem;
        }
    
        p{
            font-size: 1.3rem;
            padding: 0 1rem 1rem;
        }
    }

    .galery__title{
        font-size: 2rem;
        padding: 2rem 1rem 0 1rem;
    }
    
    .container{
        max-width: 50vw;
    }
}
