/* COLOR */

$color-primario: #49c6c6; 
$color-base: #f6eee1;  
$color-secundario: #0e3141;
$color-terciario:#6a6464;
$color-con:#6d99ac;

/* FUENTES */

$font-s: 1.5rem;
$font-m: 2rem;
$font-l: 2.5rem;

/* SPACING */

$spacing-s: 1rem;
$spacing-m: 2rem;
$spacing-l: 2.5rem;
$spacing-xl: 3rem;
$spacing-xxl: 5rem;

/* TRANSFORM */

$time-s: .5s;

/* MAPA */

$estilo-c:(
    centro: center,
    disp: inline-block,
)